<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  	{% load media %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
   {% block header %}

      <TITLE>Main page</TITLE>
	  {% block scripts %}
	  <script src="{% media "js/jquery-1.4.2.min.js" %}"></script>
	  <script src="{% media "js/stock.js" %}"></script>
	  {% endblock scripts %}
   {% endblock header %}

   </HEAD>
   <BODY>
   	   {% block body %}

      <P>Hello world!</P>
	  {% block stockform %}
	  {% endblock stockform %}
      {% endblock body %}

   </BODY>
</HTML>
